@import "tailwindcss";

:root {
  --primary: #b0956e;
  --background: #ffffff;
  --foreground: #171717;
  --muted: #6b7280;
  --success: #10b981;
  --danger: #ef4444;
  --info: #3b82f6;
  --warning: #f59e0b;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --color-muted: var(--muted);
  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-info: var(--info);
  --color-warning: var(--warning);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

/* custom rules */
button {
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

h4 {
  font-size: 1.125rem;
  font-weight: bold;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
}

h6 {
  font-size: 0.875rem;
  font-weight: bold;
}